<h1>Editing magic set</h1>

<%= render "form", magic_set: @magic_set %>

<br>

<div>
  <%= link_to "Show this magic set", @magic_set %> |
  <%= link_to "Back to magic sets", magic_sets_path %>
</div>
