<h1>Editing commander</h1>

<%= render "form", commander: @commander %>

<br>

<div>
  <%= link_to "Show this commander", @commander %> |
  <%= link_to "Back to commanders", commanders_path %>
</div>
